.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row:hover {
  background-color: #EDF1F5;
}

.container .d-flex:hover {
  background-color: #EDF1F5;
}

.icon-background {
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px; /* Espacio entre el icono y el texto */
}


/* ButtonStyles.css */
.transparent-button {
  background-color: transparent;
  border: 2px solid blue; /* Borde azul */
  color: blue; /* Texto azul */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para efectos de hover */
}

.transparent-button:hover {
  background-color: blue; /* Fondo azul en hover */
  color: white; /* Texto blanco en hover */
}


.icon-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid blue; /* Borde azul */
  color: blue; /* Texto azul */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para efectos de hover */
  outline: none; /* Quita el borde de enfoque predeterminado */
}

.icon-button:hover {
  background-color: blue; /* Fondo azul en hover */
  color: white; /* Texto blanco en hover */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

.icon {
  font-size: 20px; /* Tamaño del icono */
  border-radius: 50%; /* Hace que el icono sea redondo */
  padding: 8px; /* Espaciado interno del icono */
  background-color: rgba(0, 0, 255, 0.1); /* Fondo ligeramente azul para el icono */
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
